.contest-form {
  display: grid;
  grid-template-columns: auto;

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 74px;
    width: @desktop-width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 130px;
  }
}


.contest-form__label {
  line-height: 30px;
  text-transform: uppercase;
  color: @base-color-contrast;
}

.contest-form__field {
  font-size: 18px;
  line-height: 30px;
  color: @base-color-dark;
  padding: 15px 21px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  &:hover {
    border-color: @base-color-dark;
  }

  &:active {
    border-color: @base-color-contrast;
  }
}

.contest-form__field::-webkit-input-placeholder {
  color: @base-color-dark;
  opacity: 1;
  font-family: "Open Sans", "Arial", sans-serif;
}

.contest-form__field::-moz-placeholder {
  color: @base-color-dark;
  opacity: 1;
  font-family: "Open Sans", "Arial", sans-serif;
}

.contest-form__fieldset-name .contest-form__label {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 52px;
  }
}

.contest-form__fieldset-name .contest-form__label-text {
  display: block;
  padding-left: 22px;
  margin-bottom: 4px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.contest-form__fieldset-name .contest-form__label:last-child {
  margin-bottom: 0;
}

.contest-form__fieldset-name .contest-form__field {
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin-left: 20px;
    flex-grow: 1;
  }
}

.contest-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 44px;

  @media (min-width: @tablet-width) {
    grid-column: ~"1 / -1";
    padding-bottom: 55px;
  }
}

.contest-form__fieldset:nth-child(2n) {
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    background: none;
  }
}

.contest-form__fieldset-legend {
  line-height: 18px;
  text-transform: uppercase;
  color: @base-color-contrast;
  padding: 0 31px;
}

.contest-form__fieldset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contest-form__control-label {
  font-size: 18px;
  line-height: 30px;
}

.contest-form__button {
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.contest-form__fieldset-app {
  margin: 0;
  padding-top: 111px;
  padding-bottom: 45px;
  position: relative;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: @tablet-width) {
    grid-row: ~"2 / 3";
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    width: (@tablet-width - 40px);
    margin: 0 auto;
    margin-bottom: 58px;
    padding: 50px 60px;
    padding-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    grid-row: ~"1 / 2";
    grid-column: ~"2 / 3";
    width: 432px;
    padding-top: 56px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.contest-form__fieldset-app .contest-form__fieldset-legend {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 38px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: auto;
    position: static;
  }
}

.contest-form__fieldset-app .contest-form__wrapper {
  @media (min-width: @desktop-width) {
    padding: 0 47px;
  }
}

.contest-form__fieldset-achievements {
  margin: 0;
  padding-top: 115px;
  padding-bottom: 47px;
  position: relative;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: @tablet-width) {
    grid-row: ~"4 / 5";
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    width: (@tablet-width - 40px);
    margin: 0 auto;
    margin-bottom: 67px;
    padding: 50px 60px;
  }

  @media (min-width: @desktop-width) {
    grid-row: ~"3 / 4";
    width: (@desktop-width - 260px);
    padding-bottom: 63px;
  }
}


.contest-form__fieldset-achievements .contest-form__fieldset-legend {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 38px;
  margin: 0 auto;
  padding: 0 35px;

  @media (min-width: @tablet-width) {
    width: auto;
    position: static;
  }
}

.contest-form__fieldset-achievements .contest-form__fieldset-list {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 293px 272px auto;
    grid-template-rows: auto auto;
    column-gap: 22px;
    row-gap: 47px;
  }
}

.contest-form__fieldset-achievements .contest-form__fieldset-item:nth-child(1) {
  @media (min-width: @desktop-width) {
    order: 1;
  }
}

.contest-form__fieldset-achievements .contest-form__fieldset-item:nth-child(2) {
  @media (min-width: @desktop-width) {
    order: 4;
  }
}


.contest-form__fieldset-achievements .contest-form__fieldset-item:nth-child(3) {
  @media (min-width: @desktop-width) {
    order: 2;
  }
}

.contest-form__fieldset-achievements .contest-form__fieldset-item:nth-child(4) {
  @media (min-width: @desktop-width) {
    order: 5;
  }
}

.contest-form__fieldset-achievements .contest-form__fieldset-item:nth-child(5) {
  @media (min-width: @desktop-width) {
    order: 3;
  }
}

.contest-form__fieldset-achievements .contest-form__fieldset-item:nth-child(6) {
  @media (min-width: @desktop-width) {
    order: 6;
  }
}

.contest-form__fieldset-name {
  @media (min-width: @desktop-width) {
    grid-column: ~"1 / 2";
    margin: 0;
    width: auto;
    padding: 0;
    padding-top: 20px;
  }
}

.contest-form__fieldset-contacts {
  padding-top: 32px;
  padding-bottom: 41px;

  @media (min-width: @tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding-top: 35px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 22px;
    width: (@tablet-width - 40px);
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 74px;
    width: (@desktop-width - 260px);
    padding-bottom: 8px;
  }
}

.contest-form__fieldset-contacts .contest-form__fieldset-legend {
  text-align: center;

  @media (max-width: (@tablet-width - 1px)) {
    display: none;
  }
}

.contest-form__fieldset-contacts .contest-form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.contest-form__fieldset-contacts .contest-form__label:last-child {
  margin-bottom: 0;
}

.contest-form__fieldset-contacts .contest-form__label-text {
  display: block;
  padding-left: 22px;
  margin-bottom: 4px;

  @media (min-width: @tablet-width) {
    padding-left: 18px;
  }
}

.contest-form__fieldset-contacts .contest-form__field {
  @media (min-width: @tablet-width) {
    order: -1;
    margin-bottom: 10px;
    padding-right: 65px;
  }
}

.contest-form__fieldset-emotions {
  padding-top: 32px;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding: 46px 60px;
    padding-bottom: 51px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    width: (@tablet-width - 40px);
    position: relative;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    width: (@desktop-width - 260px);
    margin-bottom: 66px;
    padding-top: 40px;
    padding-bottom: 42px;
  }
}

.contest-form__fieldset-emotions .contest-form__label {
  text-align: center;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -15px;
    left: 180px;
    right: 180px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    left: 340px;
    right: 340px;
  }
}

.contest-form__fieldset-emotions .contest-form__field {
  box-sizing: border-box;
  min-height: 201px;
  resize: none;

  @media (min-width: @tablet-width) {
    padding: 14px 18px;
    min-height: 192px;
  }

  @media (min-width: @desktop-width) {
    min-height: 127px;
  }
}

.contest-form__fieldset-achievements .contest-form__fieldset-item {
  margin-bottom: 52px;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.contest-form__fieldset-achievements .contest-form__fieldset-item:last-child {
  margin-bottom: 0;
}


.contest-form__fieldset-achievements .contest-form__fieldset-control {
  position: relative;
  display: block;
  padding-left: 57px;
}

.contest-form__control-input--checkbox ~ .contest-form__control-mark {
  position: absolute;
  left: 0;
  width: 31px;
  height: 31px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  background: #ffffff;
}

.contest-form__control-input--checkbox:checked + .contest-form__control-mark {
  background-image: url("../img/tick.svg");
  background-size: 22px 16px;
  background-repeat: no-repeat;
  background-position: center center;
}

.contest-form__fieldset-app .contest-form__fieldset-item {
  margin-bottom: 47px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }
}

.contest-form__fieldset-app .contest-form__fieldset-item:last-child {
  margin-bottom: 0;
}


.contest-form__fieldset-app .contest-form__fieldset-control {
  position: relative;
  display: block;
  padding-left: 68px;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.contest-form__control-input--radio ~ .contest-form__control-mark {
  position: absolute;
  left: 0;
  width: 33px;
  height: 33px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background: #ffffff;
}

.contest-form__control-input--radio:checked + .contest-form__control-mark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: @base-color-contrast;
}

.contest-form__control-input:hover ~ .contest-form__control-mark {
  border-color: @base-color-dark;
}

.contest-form__control-input:focus ~ .contest-form__control-mark {
  border-color: @base-color-dark;
}

.contest-form__control-input:active ~ .contest-form__control-mark {
  border-color: @base-color-contrast;
}

.contest-form__submit {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 296px 1fr;
    padding-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / -1";
    width: (@desktop-width - 260px);
    padding: 0;
  }
}

.contest-form__text {
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
    justify-self: flex-end;
    align-self: center;
  }
}

.contest-form__text--short {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.contest-form__text--full {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.contest-form__text--colored {
  color: @base-color-contrast;
}

.contest-form__wrapper {
  @media (min-width: @tablet-width) {
    width: auto;
    padding: 0;
    margin: 0;
  }
}

.contest-form__label--phone,
.contest-form__label--email {
  position: relative;
}

.contest-form__label--phone::before,
.contest-form__label--email::before {
  @media (min-width: @tablet-width) {
    content: " ";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 2px;
    right: 2px;
    background-color: #e5e5e5;
    display: block;
  }
}

.contest-form__label--phone::before {
  @media (min-width: @tablet-width) {
    background-image: url("../img/icon-phone.svg");
    background-size: 20px 19px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.contest-form__label--email::before {
  @media (min-width: @tablet-width) {
    background-image: url("../img/icon-mail.svg");
    background-size: 18px 13px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
