.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.contacts__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.contacts__phone,
.contacts__mail,
.contacts__address {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @base-color-contrast;
  text-decoration: none;
}

.contacts__mail {
  &:hover {
    color: @base-color-dark;
    text-decoration: underline;
  }

  &:active {
    color: @base-color-dark;
    text-decoration: none;
    opacity: 0.3;
  }
}
