.download {
  background-color: #1d2631;
  color: #ffffff;
  background-image: url("../img/back-city.jpg");
  background-size: auto 462px;
  background-repeat: no-repeat;
  background-position: top;

  @media (min-width: @tablet-width) {
    background-size: cover;
    background-position: center;
  }
}

.download__wrapper {
  display: flex;
  flex-direction: column;
  background-image: url("../img/back-hand-phone.png");
  background-size: auto 286px;
  background-repeat: no-repeat;
  background-position: 0 176px;
  padding-top: 95px;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding-top: 212px;
    padding-bottom: 119px;
    padding-right: 340px;
    background-size: auto 545px;
    background-position: 170px 100%;
  }

  @media (min-width: @desktop-width) {
    padding-top: 224px;
    padding-bottom: 130px;
    padding-right: 770px;
    background-size: auto 645px;
    background-position: 510px 100%;
  }
}

.download__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 342px;
  text-align: center;


  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 39px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 51px;
  }
}

.download__link {
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 29px;
  padding: 17px;
  margin-bottom: 32px;

  &:hover {
    color: @base-color-contrast;
    background-color: #ffffff;
  }

  &:active {
    color: fade(@base-color-contrast, 30);
    background-color: #ffffff;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.download__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 61px;
  }
}

.download__text {
  font-weight: 300;
  text-align: center;
}
