.download {
  background-color: #1d2631;
  color: #ffffff;
  background-image: url("../img/back-hand-phone.png"), url("../img/back-city.jpg");
  background-size: 320px 286px, 320px 462px;
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 100%, 50% 100%; /*пока условно*/
}

.download__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.download__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 320px;
  margin: 0;
  text-align: center;
  margin-top: 95px;

  @media (min-width: @tablet-width) {
    margin-top: 212px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 224px;
  }
}

.download__link {
  text-decoration: none;

  &:hover {
    color: @base-color-contrast;
    background-color: #ffffff;
  }

  &:active {
    color: fade(@base-color-contrast, 30);
    background-color: #ffffff;
  }
}

.download__list {
  list-style-type: none;
}

.download__text {
  font-weight: 300;
  text-align: center;
}
