.page-main {
  flex-grow: 1;
  margin-top: -66px;

  @media (min-width: @tablet-width) {
    margin-top: -110px;
  }
}

.page-main__title-wrapper {
  background-image: url("../img/back-city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1d2631;
  background-position: 50%;
}

.page-main__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;

  &--inner {
    color: #ffffff;
    padding-top: 102px;
    padding-bottom: 84px;
    margin-bottom: 54px;

    @media (min-width: @tablet-width) {
      font-size: 50px;
      line-height: 68px;
      padding-top: 191px;
      padding-bottom: 143px;
      margin-bottom: 100px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 184px;
      padding-bottom: 104px;
    }
  }
}

.page-main__text {
  line-height: 30px;
  text-align: center;
  grid-column: ~"1 / -1";
  margin-bottom: 60px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 97px;
  }
}
