.page-main {
  flex-grow: 1;
  margin-top: -66px;

  @media (min-width: @tablet-width) {
    margin-top: -110px;
  }
}

.page-main__title-wrapper {
  background-image: url("../img/back-mobile.jpg");
  // background-size: cover;
  background-repeat: no-repeat;
  background-color: #1d2631;
  background-position: center top;
  padding-top: 102px;
  padding-bottom: 51px;
  margin-bottom: 54px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-tablet.jpg");
    padding-top: 191px;
    padding-bottom: 74px;
    margin-bottom: 100px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-desktop.jpg");
    padding-top: 184px;
    padding-bottom: 104px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.png");
    }
  }
}

.page-main__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;

  &--inner {
    color: #ffffff;

    @media (min-width: @tablet-width) {
      font-size: 50px;
      line-height: 68px;
    }
  }
}

.page-main__text {
  line-height: 30px;
  text-align: center;
  grid-column: ~"1 / -1";
  margin-bottom: 60px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 97px;
  }
}
