.photos-editor {
  background-color: #f2f2f2;
  position: relative;

  @media (min-width: @desktop-width) {
    background: none;
    padding-bottom: 25px;
  }
}

.photos-editor::before {
  @media (max-width: (@tablet-width - 1px)) {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: @base-color-dark;
    opacity: 0.1;
    bottom: 201px;
  }
}

.photos-editor__image {
  display: block;
}

.photos-editor__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 41px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
    padding-bottom: 57px;
    padding-left: 80px;
    padding-right: 60px;
    width: 940px;
  }
}

.photos-editor__form {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    justify-items: center;
    align-items: flex-start;
    grid-template-columns: auto;
    padding-top: 4px;
    width: 273px;
    box-sizing: border-box;
    grid-template-rows: repeat(3, min-content);
    padding-right: 13px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    width: 410px;
    column-gap: 44px;
    padding-right: 0;
  }
}

.photos-editor__button {
  margin-bottom: 22px;
}

.photos-editor__button-icon {
  fill: @base-color-dark;
  opacity: 0.3;
}

.photos-editor__button--active .photos-editor__button-icon {
  fill: @base-color-contrast;
  opacity: 1;
}

.photos-editor__button:hover .photos-editor__button-icon {
  opacity: 0.5;
}

.photos-editor__button--active:hover .photos-editor__button-icon {
  opacity: 1;
}

.photos-editor__range-fill,
.photos-editor__range-contrast {
  @media (max-width: (@tablet-width - 1px)) {
    display: none;
  }
}

.photos-editor__range-wrapper:nth-of-type(2)::before {
  @media (min-width: @tablet-width) {
    content: " ";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -51px;
    top: 0;
    background-image: url("../img/editor-crop-icon.svg");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
  }

  @media (min-width: @desktop-width) {
    width: 50px;
    height: 50px;
    background-size: 44px 44px;
    left: -92px;
    top: -8px;
  }
}

.photos-editor__range-wrapper:nth-of-type(3)::before {
  @media (min-width: @tablet-width) {
    content: " ";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -51px;
    top: 0;
    background-image: url("../img/editor-fill-icon.svg");
    background-repeat: no-repeat;
    background-size: 24px 22px;
    background-position: center;
  }

  @media (min-width: @desktop-width) {
    width: 50px;
    height: 50px;
    background-size: 48px 43px;
    left: -92px;
    top: -8px;
  }
}

.photos-editor__range-wrapper:nth-of-type(4)::before {
  @media (min-width: @tablet-width) {
    content: " ";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -51px;
    top: 0;
    background-image: url("../img/editor-contrast-icon.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
  }

  @media (min-width: @desktop-width) {
    width: 50px;
    height: 50px;
    background-size: 32px 32px;
    left: -92px;
    top: -8px;
  }
}


.photos-editor__button--submit {
  grid-column: ~"1 / -1";
  justify-self: stretch;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / 2";
    margin-bottom: 0;
  }
}

.photos-editor__button--reset {
  grid-column: ~"1 / -1";
  justify-self: stretch;
  margin-bottom: 0;

  @media (min-width: @desktop-width) {
    grid-column: ~"2 / 3";
  }
}

.photos-editor__range-wrapper {
  grid-column: ~"1 / -1";
  margin-bottom: 22px;
  position: relative;
  align-self: center;

  @media (max-width: (@tablet-width - 1px)) {
    grid-row: ~"2 / 3";
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
    justify-self: end;
  }

  @media (min-width: @desktop-width) {
    margin-right: 30px;
    margin-bottom: 47px;
  }
}

.photos-editor__range-wrapper:nth-of-type(4) {
  @media (min-width: @tablet-width) {
    margin-bottom: 94px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 175px;
  }
}

.photos-editor__range-scale {
  width: 240px;
  appearance: none;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    width: 202px;
  }

  @media (min-width: @desktop-width) {
    width: 288px;
  }
}

.photos-editor__range-wrapper::after {
  @media (min-width: @tablet-width) {
    content: " ";
    position: absolute;
    width: 275px;
    height: 1px;
    background-color: @base-color-dark;
    opacity: 0.1;
    top: 50px;
    right: -18px;
  }

  @media (min-width: @desktop-width) {
    width: 410px;
    right: -30px;
  }
}

.photos-editor__range-wrapper:last-of-type::after {
  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.photos-editor__range-scale::-webkit-slider-thumb {
  appearance: none;
  border: 2px solid @base-color-contrast;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: -5px;
  cursor: pointer;
}

.photos-editor__range-scale::-moz-range-thumb {
  border: 2px solid @base-color-contrast;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: -5px;
  cursor: pointer;
}

.photos-editor__range-scale::-webkit-slider-runnable-track {
  height: 2px;
  cursor: pointer;
  background-color: @base-color-dark;
}

.photos-editor__range-scale::-moz-range-track {
  height: 2px;
  cursor: pointer;
  background-color: @base-color-dark;
}

.photos-editor__image-wrapper {
  position: relative;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.photos-editor__image-input {
  position: absolute;
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.photos-editor__text-wrapper {
  background-color: #ffffff;
  padding-top: 44px;
  padding-bottom: 41px;

  @media (min-width: @tablet-width) {
    padding-top: 65px;
    padding-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 58px;
    padding-bottom: 66px;
  }
}

.photos-editor__text {
  text-align: center;
  width: 280px;
  margin: 0 auto;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    width: 620px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.photos-editor__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 45px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.photos-editor__button-wrapper .photos-editor__button {
  margin-right: 22px;
}

.photos-editor__button-wrapper .photos-editor__button:nth-child(3n),
.photos-editor__button-wrapper .photos-editor__button:last-child {
  margin-right: 0;
}
