.photo-container__image-link {
  text-decoration: none;
}

.photo-container__hit {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: @base-color-contrast;
}

.photo-container__author-name {
  font-weight: bold;
}

.photo-container__post-time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photo-container__likes {
  font-size: 12px;
  text-transform: uppercase;
  color: @base-color-contrast;
}
