.plans-table__header {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background: @base-color-dark;
}

.plans-table__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.plans-table__data {
  line-height: 30px;
  text-transform: uppercase;
}

.plans-table__hit {
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: @base-color-contrast;
}
