.qualities {
  background-image: url("../../img/back-iphone-smiley.png"), url("../../img/back-grey-big.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 157px 320px, 1172px 828px;
  background-position: 50% 100px, 50% 40px; /*пока условно, просто посмтреть.*/
}

.qualities__main-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.qualities__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.qualities__subtitle {
  font-weight: bold;
  color: #000000;
}
