.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.reviews__author-info {
  line-height: 30px;
}

.reviews__text {
  line-height: 30px;
}
