.site-list {
  list-style-type: none;
  margin: 0;
  padding: 1px 0;
  display: none; /*переключение на flex*/
  flex-direction: column;

  @media (max-width: (@desktop-width - 1px)) {
    background-color: #000000;
  }

  @media (min-width: @desktop-width) {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-list__item {
  text-align: center;

  @media (max-width: (@desktop-width - 1px)) {
    background-color: @base-color-dark;
    padding: 15.5px 0;
    box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  }
}

.site-list__item:not(:last-child) {
  margin-bottom: 1px;
}

.site-list__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  display: block;

  @media (min-width: @desktop-width) {
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
  }

  &:hover {
    color: @base-color-contrast;
  }

  &:active {
    color: @base-color-contrast;
    opacity: 0.3;
  }
}
