.stores-list {
  margin: 0;
  padding: 0;
}

.stores-list__link {
  text-decoration: none;
  color: #ffffff;
}

.stores-list__link--apple-store {
  background-image: url("../../img/stores-apple-logo.png");
  background-repeat: no-repeat;
  background-size: 47px 56px;
}

.stores-list__link--android-store {
  background-image: url("../../img/stores-android-logo.png");
  background-repeat: no-repeat;
  background-size: 43px 47px;
}

.stores-list__link--microsoft-store {
  background-image: url("../../img/stores-microsoft-logo.png");
  background-repeat: no-repeat;
  background-size: 44px 41px;
}
