.stores-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 25px;
  }
}

.stores-list__item {
  margin-bottom: 6px;
  padding: 0 5px;
  margin-right: 34px;
}

.stores-list__item:nth-child(3n),
.stores-list__item:last-child {
  margin-right: 0;
}

.stores-list__link {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.stores-list__link--apple-store {
  background-image: url("../img/stores-apple-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 47px;
  height: 56px;
}

.stores-list__link--android-store {
  background-image: url("../img/stores-android-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 43px;
  height: 47px;
}

.stores-list__link--microsoft-store {
  background-image: url("../img/stores-microsoft-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 41px;
}
