.study {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
  }
}

.study__wrapper {
  padding-top: 102px;
  padding-left: 330px;
  padding-bottom: 120px;
  background-image: url("../img/back-timer-tablet.png");
  background-repeat: no-repeat;
  background-size: 238px auto;
  background-position: left center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-timer-tablet@2x.png");
  }

  @media (min-width: @desktop-width) {
    padding-left: 500px;
    background-image: url("../img/back-timer-desktop.png");
    background-size: 298px auto;
    background-position: 130px center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-timer-desktop@2x.png");
    }
  }
}

.study__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: @desktop-width) {
    line-height: 30px;
    margin-bottom: 37px;
  }
}

.study__text {
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 47px;
  }
}

.study__link {
  text-decoration-line: underline;
  color: @base-color-contrast;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
