.study {
  display: none;
  background-image: url("../img/back-timer.png");
  background-repeat: no-repeat;
  background-size: 238px 276px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}

.study__wrapper {
  padding-left: 50%;

  @media (min-width: @desktop-width) {
    padding-left: 30%;
  }
}

.study__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.study__link {
  text-decoration-line: underline;
  color: @base-color-contrast;
}
