.study {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
  }
}

.study__wrapper {
  padding-left: 50%;
  background-image: url("../img/back-timer.png");
  background-repeat: no-repeat;
  background-size: 238px 276px;

  @media (min-width: @desktop-width) {
    padding-left: 30%;
  }
}

.study__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.study__link {
  text-decoration-line: underline;
  color: @base-color-contrast;
}
